*{
    font-family: "Just Me Again Down Here";
  
  }
ion-buttons.spacer {
    flex: 1;
  }
  .IMG{
    width: 100%;
    flex-shrink: 0; 
    margin-bottom: 2rem;
  }
  .barra-items{
    margin-bottom: 2rem;
  }
  .texto{
    color: #000;
    font-family: Just Me Again Down Here;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
  }
  .carita{
    margin-top: 0.5rem;
    margin-right: 1rem;
  }