*{
  font-family: "Just Me Again Down Here";

}
.Carita{
  margin-top: 2rem;
}
.BACKGROUND{
  --background:#F2B807;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Text{
  color: #000;
  font-size: 60px;
  font-style: normal;
  font-weight: 400px;
  line-height: normal; 
  padding-bottom: 2rem;
  margin: 0;
  align-items: center;
}
.Sesion{
  --background:#ffff;
  --border-radius: 30px;
  height: 15%;
  width: 60%;
  margin: auto;
  font-size: 25px;
}
.Boton{
  width: 70%;
  font-size: 25px;
  font-family: "Jockey One";
  --border-radius: 20px;
  height: 2%;
}